

form {
    background-color: var(--blue1);
    margin: auto;
    padding: 5rem;
    width: 66%; /* Could be more or less, depending on screen size */
    line-height: 6.4rem;
    color: var(--grey3);
    position: relative;
    z-index: 1;
    }
  
  fieldset {
      border: none;
  }
  
  input {
      width: 100%;
      background-color: var(--grey2);
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      padding: 12px 20px;
      margin-bottom: 2rem;
      color: var(--grey3);
      font-size: large;
  }
  
  a{
     font-size: 2.4rem;
  }
  
#save {
    float: right;
    font-weight: bold;
    font-size: 2.4rem;
    background-color: var(--blue2);
    width: 100%;
    margin-top: 2rem;
   }
  
   h2 {
       text-align: center;
       font-size: 5rem;
       margin-top: 15rem;
   }
  
   .helptext, ul {
       margin: 0;
       font-size: small;
   }
  
   ul {
     list-style-type: none;
     text-align: center;
   }
  
  
   li { 
       display: inline-block;
       padding: 0.5rem;
   }

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 66%;
    border: 2px solid var(--grey2);
    background-color: var(--blue2);
}

table th {
    font-size: 3rem;
    font-weight: 700;
}

table td {
    font-size: 2rem;
    font-weight: 500;
}

table tr {
    padding: 15rem;
}

table tr:hover {background-color: var(--blue1);}