@import url(base.css);

body {
   background: var(--blue1);
}

main {
    display: flex;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
}

.ad-layout {
    margin-top: 12rem;
    display: flex;
    margin-bottom: 2rem;
}

.side-bar {
    width: 20vw;
    flex-direction: column;
}

.side-bar a{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    background: var(--blue1);
}

fieldset {
    background: var(--blue2);
    margin: 1rem;
}

fieldset .element:last-child {
    border: 0;
}

legend {
    margin: 0 auto;
    font-size: 4rem;
    color: var(--grey3);
    font-weight: 800;
}

.content {
    width: 80vw;
}

.content p {
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 3rem;
    border-radius: 0;
    color: var(--grey3);
}

.element {
    padding: 0;
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid var(--grey3);
    border-radius: 0;
}

.element p {
    margin: 0 1rem;
    padding: 0 0 0 1rem;
}

button {
    background: var(--blue1);
    border: none;
    color: var(--grey3);
    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
}

.dw-links {
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 0 1rem;
}

.warning {
    background-color: red;
    font-size: 2.5rem;
    padding: 0.4rem;
}

.detail {
    background-color: var(--blue1);
    font-size: 2.5rem;
    padding: 0.4rem;
}

.cancel {
    background-color: rgb(181, 10, 10);
    font-size: 2.5rem;
    padding: 0.4rem;
}

.pagination{
    display: flex;
    padding: 1rem;
}

.pagination a {
    margin: 0 1rem;
}