.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: inline;
    padding: 5rem;
}

.cart-total {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    padding: 0;
}