form {
    background-color: var(--blue1);
    margin: 50px auto; /* 15% from the top and centered */
    padding: 5rem;
    /* border: 1px solid var(--blue2); */
    width: 66%; /* Could be more or less, depending on screen size */
    line-height: 6.4rem;
    color: var(--grey3);
  }

fieldset {
    border: none;
}

input {
    width: 100%;
    background-color: var(--grey2);
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-bottom: 3.6rem;
}

a{
   font-size: 2.4rem;
}

button {
    float: right;
    font-weight: bold;
    font-size: 2.4rem;
    background-color: var(--blue2);
 }
