.product {
    margin: 10%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: min-content;
    align-items: center;
    justify-items: center;
}

.product img {
    object-fit: cover;
    max-width: 100%;
    place-self: center;
}

.content {
    padding: 10%;
}

.name, .price, .category {
    text-align: center;
    padding: 0;
}

.options {
    padding: 1rem;
}

.comments {
    padding: 2rem;
}

.comment > p {
    display: inline-block;
}

input {
    width: 50%;
    background-color: var(--grey2);
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-bottom: 2rem;
    color: var(--grey3);
    font-size: large;
}