/* HERO */

#hero {
  overflow: hidden;
  position: relative; 
  padding: 0;

  height: 40vw;
  background-image: url("../images/heroL.jpg");
  background-size: cover;
}

#hero-container{
  margin: 10%;
  z-index: 2;
  position: absolute;
}

#heroText {
  display: inline-block;
  width: 16rem;
  font-weight: bolder;
  text-align: center;
}

#hero button{
  margin-top: 4.8rem;
  padding: 2.4rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

 @media (max-width: 2000px) {
  #hero {
    height: 45vw;
    background-image: url("../images/heroM.jpg");
  }
}

 @media (max-width: 1300px) {
  #hero {
    height: 62vw;
    background-image: url("../images/heroS.jpg");
  }
}


@media (max-width: 800px) {
  #hero {
    height: 83vw;
    background-image: url("../images/heroXS.jpg");
  }

}

@media (max-width: 450px) {

  #hero {
    height: 80vw;
    background-image: url("../images/heroXS.jpg");
    min-width: 250px;
  }

  #hero-container{
    margin-top: 25%;
  }

  #hero-container h1{
    font-size: 3.2rem; 
    padding: 0.1rem;
  }

  #hero-container p{
    font-size: 2.4rem; 
    padding: 0.1rem;
  }

  #heroText {
    width: 12rem;
  }

  #hero button{
    margin-top: 1.6rem;
    padding: 1.6rem;
  }

}


/* GRADIENT OVERLAY */

.overlay{
  width: 100%;
  height: 100%;
  border-radius:0;
  background: linear-gradient(to bottom, rgba(53, 57, 61, 0.7) 40%, rgba(0,50,50, 0.98));
  z-index: 2;
}

.inner {
  position: absolute;
}



/*SECTION GRID*/

.section-container{
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 12.8rem;
  place-items: center;
}

.section-container picture{
  width: 100%;
  max-width: 200rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
 
}

@media (max-width: 1400px) {
  .section-container {
    grid-template-columns: 100%;
  }

  .section-container picture {
    order: 2; 
    width: 100%;
  }
}

  #our-products .text-section{
    margin: auto;
  }

  /* CARDS */

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    grid-gap: 16.4rem;

    padding: 3.2rem 0;
    align-items: center;
    justify-content: center;
    justify-items: center
    }

  /* avoiding 3 plus one grid*/

  @media (max-width:2200px){
    .card-container {
      grid-gap: 8.4rem;
    }
  }


  @media (max-width:1800px){
    .card-container {
      grid-template-columns: repeat(2, 30rem);
    }
  }

  @media (max-width:960px) {
    .card-container {
      grid-template-columns: repeat(2, 34rem);
      grid-gap: 3.2rem;
    }
  }

  @media (max-width:460px) {
    .card-container {
      grid-template-columns: repeat(1, 30em);
    }
  }


  .card-container button{
    padding: 2.4rem;
    background: var(--blue2);
  }

  .card {
    width: 30rem;
    height: 50rem;
    text-align: center;
    font-size: 2rem;
    transition: 0.8s 0.4s; 
    transform-style: preserve-3d;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.5);   
  }
     
  .card:hover{
    transform: rotateY(180deg);
  }

  .card-front {
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;  
  }

  .card-image .overlay{
    background: linear-gradient(to top, rgba(53, 57, 61, 0.3) 1%, rgba(0,50,50, 1));
  }

  .card img{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  } 

  .card-text{
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 4.8rem;
    font-size: 1.6em;
    text-shadow:0 0 10px black;
  }

  .card-back {
    position: absolute;
    height: 100%;
    padding: 2.4rem;   
    background-color: var(--blue2);
    background: linear-gradient(to bottom, var(--blue2), var(--grey1));
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: 2;

  }

  .card ul {
    height: 30rem;
  }

  .card li{
    list-style-type: none;
    font-size: 1.6rem;   
    padding: 1.2rem;
  }

  .price {
    padding-top: 3rem;
    font-size: 2.4rem;
  }

  .price-num {
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.2em;
  }


  /* MAP */

  #map-container{
    position: relative;
    height:60%;
    width: 100%;
  } 

  #map-info{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(14,36,36, 0.85);
    padding: 2.4rem;
    margin: 2.4rem;
    height: auto;
    width: 30%; 

    line-height: 6.4rem;
    font-size: 2.4rem;
  }

  #map-info-content img{
    width: 100%; 
    padding-bottom: 2.4rem;
  }

  #bike-icon {
    height: 4.8rem;
    width: auto;
  }

  
  @media (max-width: 1600px) {

    #map-container{
      height:80%;
    } 

    #map-info{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 95%; 
    }

    .map-info-content{
      display: grid;
      grid-template-columns: 60% 30%;
      grid-gap: 6.4rem;
      align-items: center;
      text-align: left;
    }

    .no-grid {
      display: block;
    }

    #map-info-content img{
      padding-bottom: 0;
    }
  }



/* GALLERY STYLING */
#gallery {
  padding: 0;
}

#images {
  display: grid;
  align-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#gallery picture {
  text-align: center;
  aspect-ratio: 1;
}

#images img {
  margin: 0;
  padding: 1%;
  height: 30vw;
}

#comments, #featured-in, #reminder > p {
  text-align: center;
}

#featured-in img {
  height: 6rem;
  width: auto;
  margin: 0 5%;
  border-radius: 0;
}