h2{
  letter-spacing: 0.3em;
}

section {
  border-radius: 0;
  padding: 6.4rem 12.8rem;
  text-align: justify;
  color: var(--grey3);
}

section:nth-child(odd) {
  background: var(--blue1);
}

section:nth-child(even) {
  background: var(--blue2);
}

.modal button{
  background-color: var(--blue2);
}

/* HERO */

#hero {
  overflow: hidden;
  position: relative;
  
  width: 100%;
  height: 50vw;
  min-height: 42rem;
  max-height: 60rem;
  padding: 0;
}

.overlay{
  width: 100%;
  height: 100%;
  border-radius:0;
  background: linear-gradient(to bottom, rgba(53, 57, 61, 0.8) 30%, rgba(0,50,50, 0.98));
  z-index: 2;
}

.inner {
  position: absolute;
}

#hero div img{
  padding: 0;
  border-radius:0;
  width: 100%;
  height: 100%;
  z-index: 0;
} 
  
#hero h1 {
  margin-left: 16.4rem;
  margin-top: 12.8rem;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  z-index: 2;
}

#hero p {
  margin-left: 16.4rem;
  margin-top: 32rem;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#hero .cta {
  position: absolute;
  margin-top: 44.8rem;
  top: 0;
  left: 0;
  margin-left: 16.4rem;
  font-size: 2.4rem;
  padding: 1.5rem 2rem;
  z-index: 2;
}  

/*SECTION GRID*/
#about-us .section-container{
  display: grid;
  
  grid-template-columns: 60% 40%;
  grid-gap: 6.4rem;
  max-width: 166rem;
  min-width: 82rem;
  place-items: center;
}

#places-to-explore .section-container{
  display: grid;
  
  grid-template-columns: 40% 60%;
  grid-gap: 6.4rem;
  max-width: 166rem;
  min-width: 82rem;
  place-items: center;
}

.section-container img {
 
  width: 90%;
  height: 90%;
  border-radius:5rem;

}


/* MODAL */ 
  /* The Modal (background) */
 .modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /*Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    padding-top: 60px;
    border-radius: 0;
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--blue1);
    margin: 50px auto; /* 15% from the top and centered */
    padding: 5rem;
    border: 1px solid var(--blue2);
    width: 50%; /* Could be more or less, depending on screen size */
    line-height: 6.4rem;
  }

  input {
    width: auto;
    background-color: var(--grey2);
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    
    color: #000;
    font-size: 35px;
    font-weight: bold;
    background: none;
    border: none;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: rgb(109, 7, 7);
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  } 







 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 34rem);
  grid-gap: 2rem;
  max-width: 166rem;
  min-width: 82rem;
  padding: 5rem;
  }
  
  /* This container is needed to position the front and back side */
  .card {
    width: 30rem;
    height: 50rem;
    text-align: center;
    font-size: 2rem;
    transition: 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.5);   
    perspective: 1000px;  /*Remove this if you don't want the 3D effect */
    background-image: linear-gradient(to bottom, rgba(53, 57, 61, 0.3) 30%, rgba(0,50,50, 0.8)), url("images/test.jpg");  
  }
  /*w html miec dwaobiekty jeden na zdj i jeden n grdient i mienic pth w html, djeci tryzmac na serverzez nie w bazie*/
    
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card:hover{
    transform: rotateY(180deg);
  }


  /*
  .card img{   
    height: 100%;    
    background-image: linear-gradient(to bottom, rgba(53, 57, 61, 0.8), rgba(0,50,50, 0.98)), url("images/test.jpg");
  }
*/
.card img{
  padding: 0;
  border-radius:0;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
} 
  .card-text{
    z-index: 2;
    position: absolute;
    justify-items: center;
    text-align: center;
    margin-left: 10rem;
    margin-bottom: 5rem;
    left: 4.2rem;
    bottom: 4.2rem;
  }


  
  .card-front {
    position: absolute;
    width: 100%;
    height: 100%; 
    overflow: hidden;  
  }
  .card li{
    list-style-type: square;
    list-style-image: url("images/world1.svg");
    list-style-position: inside;
    display: list-item;
    font-size: 1.6rem;   
    padding: 1.2rem;
   

  }

  .card li::marker{
        text-align: end;
  }

  .card-back li:last-child{
    list-style-type:none;
    display:block;
    font-size: 3.2rem;
  }


  .card-back button{
    margin-bottom: 10%;
  }

  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2.4rem;   
    background-color: var(--blue2);
    background: linear-gradient(to bottom, var(--blue2), var(--grey1));
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: 2;
  }