{% extends 'KRRR/main.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock extra_head %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="button-container">
    <button type="submit">Change my password</button>
  </div>
</form>

{% else %}

<p id="invalid-link">The password reset link was invalid, possibly because it has already been used.  <br> Please request a new password reset.</p>

{% endif %}
{% endblock %}