{% extends 'KRRR/admin-layout.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}


{% block content %}

<div class="content">
    <fieldset>
        <legend>Content</legend>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Elit pellentesque habitant morbi tristique senectus et. Volutpat ac tincidunt vitae semper quis lectus. Vulputate dignissim suspendisse in est ante in nibh. 
            Sit amet aliquam id diam maecenas ultricies. Egestas integer eget aliquet nibh praesent tristique magna sit. Massa vitae tortor condimentum lacinia quis. 
            Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae. 
            Mi tempus imperdiet nulla malesuada pellentesque elit. Sit amet cursus sit amet dictum sit amet justo donec. Libero nunc consequat interdum varius sit amet 
            mattis vulputate enim. Urna nec tincidunt praesent semper feugiat nibh sed. Diam sollicitudin tempor id eu nisl. Sagittis purus sit amet volutpat consequat 
            mauris nunc congue. Risus ultricies tristique nulla aliquet enim tortor at auctor. Purus sit amet luctus venenatis lectus.
        </p>
    </fieldset>
</div>

{% endblock content %}