{% extends 'KRRR/admin-layout.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}

{% block content %}


<div class="content">
    <fieldset>
        <legend>ORDERS</legend>
        {% if not orders %}
            <p id="del-q">User has not placed any orders yet.</p>
        {% else %}
            {% for order in orders %}
    
            <div class="element">
                <p>ID: {{ order.id }}</p>
                <p>Date: {{ order.order_date }}</p>
                <p>Location: {{ order.location }}</p>
                <p>Realized: {{ order.status }}</p>
                <div class="dw-links">
                    <a href="{% url 'admin-order' order.id %}" class="detail">Change</a>
                    <a href="{% url 'order-delete' order.id %}" class="warning">Delete</a>
                </div>
            </div>
            
            {% endfor %}
        {% endif %}
    </fieldset>

    {% include 'KRRR/includes/pagination.html' %}
</div>


{% endblock content %}