{% extends 'KRRR/admin-layout.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}

{% block content %}

<div class="content">
    <fieldset>
        <legend>Comment ID: {{ comment.id }}</legend>
        <p>Author: {{ comment.customer }}</p>
        <p>Product: {{ comment.product.name }}</p>
        <p>Date published: {{ comment.comment_date }}</p>
        <p>Stars: {{ comment.stars }}</p>
        <p>Comment: {{ comment.content }}</p>
        <div class="dw-links">
            <a href="{% url 'comment-delete' comment.id %}" class="warning">Delete</a>
        </div>
    </fieldset>
</div>

{% endblock content %}