{% extends 'KRRR/main.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}

{% block content %}

<div class="side-bar">

    {% include "KRRR/includes/admin_side_bar.html" %}

</div>


<div class="content">
<fieldset>
    <legend>USERS</legend>

    {% for user in users %}
    
    <div class="user">
        <p>Name: {{ user.name }} {{ user.surname }}</p>
        <p>Nickname: {{ user.nickname }}</p>
        <email>Email: {{ user.email }}</email>
        <form action="#">
            <button type="submit">Details</button>
            <button type="submit" class="warning">Delete</button>
        </form>
    </div>
    
    {% endfor %}

</fieldset>
</div>


{% endblock content %}