{% extends 'KRRR/main.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock extra_head %}

{% block menu %}
<li><a href="{% url 'index' %}">Home</a></li>
{% endblock menu %}

{% block content %}
        <h1>Shopping Cart</h1>
        
        <div class="cart">
            <section class="products">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sum</th>
                    </tr>
                    {% for product in products %}
                    <tr>
                            <td><a href="{% url 'change-cart' product.id %}">{{product.product.name}}</a></td>
                            <td>{{product.product.price}} NOK</td>
                            <td>{{product.quantity}}</td>
                            <td></td>
                    </tr>
                    {% endfor %}
                </table>
                
                
            </section>
            <section class="cart-total">
                <p>
                    Total: {{ cart_total }} NOK. Number of items: {{ cart_quantity }}
                </p>
                <a href="{% url 'checkout' %}">Proceed to Checkout</a>
            </section>
        </div>
{% endblock content %}