{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">

</head>
<body>
    <section>
    <p>You are renting the equipment for {{ minutes }} minutes.</p>
    <p>You will paid {{cart_total}} NOK for {{ cart_quantity }} products</p>  
    <button class='save'><a href="{%url 'shop' %}">Go back to shopping</a></button>
</section>
</body>


  