{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
</head>

<body>
    <div>
        <h1>Checkout</h1>
        <form method="POST"> {% csrf_token %}
            {{ form }}
            <p>You will paid {{cart_total}} NOK for {{ cart_quantity }} products</p>
            <button class="save" type="submit">Pay</button>

        </form>
    </div>
</body>
