{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}"> -->
</head>

<body>
    <p>
        Location:
        <form method="POST"> {% csrf_token %}
            {{ form }}
            <button type="submit">Pay</button>
        </form>
    </p>
    <p>you will paid {{cart_total}} NOK for {{ cart_quantity }} products</p>
</body>
