{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}"> -->
</head>

<body>
    <img id="background" src="{% static 'images/heroBig.png' %}" alt="?">
    <p>you have paid {{cart_total}} NOK for {{ cart_quantity }} products</p>
</body>
