{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extra_head %}

    {% endblock extra_head %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}"><img src="{% static 'images/wheel.png' %}" alt="Keep roling roling roling"></a>

            <ul id="menu-list">
                {% block menu %}

                {% endblock menu %}
     
            </ul>
            <button id="menu-button" onclick="hamburgerFunction()"><ion-icon name="list"></ion-icon></button>
            <script>
                function hamburgerFunction(){
                    const menu = document.getElementById("menu-list")
                    if (menu.style.display === "block") {
                        menu.style.display = "none";
                    } else {
                        menu.style.display = "block";
                    }
                }
            </script>
            <button  onclick="location.href='login/'">
                <ion-icon name="person"></ion-icon>
            </button>
        </nav>

        <!-- Login window-->
        <!-- <div id="login" class="modal">
            <form class="modal-content animate" action="file.py">

                <div class="container">
                    <button onclick="document.getElementById('login').style.display='none'" class="close" title="Close window">&times;</button>
                    <label><strong>Username</strong>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                    </label>


                    <label><strong>Password</strong>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                    </label>

                    <a href="{% url 'register' %}">Create account</a>
                    <button id="login-button" type="submit">Log in</button>

                </div>
            </form>
        </div> -->
    </header>

    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <footer>
<!--        add to the footer:
1. employee login
2. contact form
3. -->
        <nav>
            <ul>
                <li><a href="{% url 'index' %}#about-us">About us</a></li>
                <li><a href="{% url 'index' %}#our-products">Products</a></li>
                <li><a href="{% url 'index' %}#places-to-explore">Trips</a></li>
                <li><a href="{% url 'index' %}#featured-in">Opinions</a></li>
                <li><a href="{% url 'index' %}#contact">Contact</a></li>
            </ul>
        </nav>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>