{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initia scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extra_head %}

    {% endblock extra_head %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"><img src="{% static 'images/2.jpg' %}" alt="Keep roling roling roling"></a></li>
                {% block menu %}

                {% endblock menu %}
                <li><button onclick="document.getElementById('login').style.display='block'">
                    <ion-icon name="person"></ion-icon>
                </button></li>
            </ul>
        </nav>

        <!-- Login window-->
        <div id="login" class="modal">
            <form class="modal-content animate" action="file.py">

                <div class="container">
                <button onclick="document.getElementById('login').style.display='none'" class="close" title="Close window">&times;</button>
                <label><strong>Username</strong>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                </label>
                <br>

                <label><strong>Password</strong>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </label>
                <br>

                <button type="submit">Log in</button>

                <!-- <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label> -->

                <br>

                <span>Forgot password?</span>
                <span>Create account</span>
                </div>
            </form>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}#about-us">About us</a></li>
                <li><a href="{% url 'index' %}#our-products">Products</a></li>
                <li><a href="{% url 'index' %}#places-to-explore">Trips</a></li>
                <li><a href="{% url 'index' %}#featured-in">Opinions</a></li>
                <li><a href="{% url 'index' %}#contact">Contact</a></li>
            </ul>
        </nav>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.6675411038773!2d6.1595391501548455!3d62.47505369465827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4616db5238b7a445%3A0xaf5df0231694efbe!2sFjellstua%20utsiktspunkt!5e0!3m2!1spl!2sno!4v1644447888656!5m2!1spl!2sno"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>