<!-- Load static files - images, CSS and JS -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bike rental webpage as a final project">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extra_head %}
    <!-- Additional elements specific to each page inheriting from this template -->
    {% endblock extra_head %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}"><img id="logo" src="{% static 'images/logo.png' %}" alt="Keep roling roling roling logo"></a>

            <ul id="menu-list">
                {% block menu %}
                <!-- Additional elements specific to each page inheriting from this template -->              
                {% endblock menu %}
                <li><a href="{% url 'shop' %}">Shop</a></li>
                {% block menu2 %}
                <!-- Additional elements specific to each page inheriting from this template -->              
                {% endblock menu2 %}
            </ul>
            <!-- Changing menu tu hamburger for small screens -->
            <button aria-label="menu" id="menu-button" onclick="hamburgerFunction()"><ion-icon name="list"></ion-icon></button>
            <script src="../../../static/js/hamburgerMenu.js"></script>

            <a  id="account" aria-label="account" href="{% url 'account' %}">
                <button>
                    <ion-icon name="person"></ion-icon>
                </button>
            </a>


        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Additional elements specific to each page inheriting from this template -->              
        {% endblock content %}
    </main>

    <footer>
        <div class="contact-details" id="contact">
            <h6>Contact details</h6>
            <p><ion-icon name="call"></ion-icon> 01234 567890</p>
            <p><a href="#"><ion-icon name="mail"></ion-icon> Contact us</a></p>
            <p><ion-icon name="location"></ion-icon> Langelandsvegen 25, Ålesund, Norge, NO</p>
        </div>
        <div class="footer-links">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}#about-us">About us</a></li>
                    <li><a href="{% url 'index' %}#our-products">Products</a></li>
                    <li><a href="{% url 'index' %}#places-to-explore">Trips</a></li>
                    <li><a href="{% url 'index' %}#comments">Opinions</a></li>
                    <li><a href="{% url 'index' %}#contact">Contact</a></li>
                    <li><a href="{% url 'credits' %}">Credits</a></li>
                    <!-- If statement checking user authentication -->
                    {% if user.is_authenticated %}
                        <!-- If statement checking user privilages -->
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin-admin' %}">Admin</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </footer>
    <!-- Scripts needed for including icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>