{% extends 'KRRR/admin-layout.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_form_style.css' %}">
{% endblock extra_head %}

{% block content %}

    {% include 'KRRR/includes/admin_header.html' %}

    <form method="POST">
    {% csrf_token %}
        <div class="content">
            <fieldset>
                <legend>Create Product</legend>
                {{ form.as_p }}
                <div class="dw-links">
                    <button type="submit">Create</button>
                    <a href="{% url 'admin-products'%}" class="cancel">Cancel</a>
                </div>
            </fieldset>
        </div>
    </form>

{% endblock content %}