{% extends 'KRRR/main.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock extra_head %}

{% block menu %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'cart' %}">Cart</a></li>
{% endblock menu %}

{% block content %}
    <div class="product">
        <img src="{% static 'images/2.jpg' %}">
        <div class="content">
            <h1 class="name">{{product.name}}</h1>
            <p class="price">{{product.price}} NOK</p>
            <p class="category">{{product.category}}</p>
            <p>{{product.description}}</p>
        </div>
        <div class="options">
            <form method="POST"> {% csrf_token %}
                {{ form.product.as_hidden }}
                {{ form.quantity }}
                <input type="submit" value="Add to cart" >
                <script>
                    document.getElementById("id_product").value = "{{product.id}}";
                </script>
            </form>
            <!-- <button name="cart">Add to cart</button> -->
            <button name="more">More</button>
        </div>
        </div>
        <div class="comments">
            <h1>Comments</h1>
            {% for comment in comments %}
            <div class="comment">
            <p class="date">{{comment.comment_date|naturaltime}}</p>
            <p class="customer">{{comment.customer}}</p>
            <p class="stars">
                {% with full=comment.stars empty=5|sub:comment.stars %}
                {% for star in ""|ljust:full %}
                <ion-icon name="star"></ion-icon>
                {% endfor %}
                {% for star in ""|ljust:empty %}
                <ion-icon name="star-outline"></ion-icon>
                {% endfor %}
                {% endwith %}
            </p>
            <p class="comment">{{comment.content}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}