{% extends 'KRRR/admin-layout.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_delete_style.css' %}">
{% endblock extra_head %}

{% block content %}

    {% include 'KRRR/includes/admin_header.html' %}

    <form method="POST">
        {% csrf_token %}
        <div class="content">
        <fieldset>
            <legend>Delete Product</legend>
            <p id="del-q">Are you sure you want to delete the "<span>{{ product.name }}</span>" product?</p>
        </fieldset>
        <div class="dw-links">
            <button type="submit" class="warning">Yes, Delete</button>
            <a href="{% url 'admin-product' product.id %}" class="cancel">Cancel</a>
        </div>
    
    </div>
    </form>

{% endblock content %}