{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <img id="background" src="{% static 'images/heroBig.png' %}" alt="?">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend hidden>Create an account</legend>
            <h1>Join KRRR</h1>
            {{ form.as_p }}
        </fieldset>
        <div>
            <button type="submit">Sign Up</button>
        </div>
        <div id="options" >
            <a href="{% url 'login' %}">Already have an account?</a>
        </div>
    </form>
</body>