{% extends 'KRRR/main.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
{% endblock extra_head %}

{% block menu %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'cart' %}">Cart</a></li>
{% endblock menu %}

{% block content %}
    <section id="intro">
        <h1>Our Products</h1>
        <p class="text-section">We have 120 bikes available in Ålesund. New bikes
            upgraded every month according to latest trends. 20 brand
            new electric bikes waiting for you! We are true to the
            BYOWT concept: Bring Your Own Winter Tires! Nothing
            brings a warm home feeling better than BYOWT!</p>
    </section>
    <section id="products">
        {% for product in products %}
        <div class="card">
            <img src="{{MEDIA_ROOT}}/{{ product.photo }}">
            <div class="content">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }}NOK</p>
                <a href="{% url 'product' product.id %}"><button name="more">More</button></a>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock content %}