{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KRRR</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">

</head>
<body>
    <h1>Delete comment</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend hidden="true">Delete Comment</legend>
            <p class="info">Are you sure you want to delete the "{{ comment.content }}" comment?</p>
        </fieldset>
        <div class="form-func">
            <button type="submit" class="save warning">Yes, Delete</button>
            <a href="{% url 'product' comment.product.id %}"><button type="button" class="save">Cancel</button></a>       
        </div>
    </form>

</body>
