{% extends 'KRRR/admin-layout.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}

{% block content %}

    {% include 'KRRR/includes/admin_header.html' %}

    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>{{ user.username }}</legend>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
            <email>Email: {{ user.email }}</email>
        </fieldset>
        <div class="form-func">
            <a href="{% url 'user-delete' user.id %}">Delete</a>
        </div>
    </form>

{% endblock content %}