{% extends 'KRRR/admin-layout.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}

{% block content %}


<div class="content">
    <fieldset>
        <legend>PRODUCTS</legend>

        {% for product in products %}
    
        <div class="user">
            <p>{{ product.name }}</p>
            <form action="#">
                <button><a href="{% url 'admin-product' product.id %}">Details</a></button>
                <a href="{% url 'product-delete' product.id %}">Delete</a>
            </form>
        </div>
    
        {% endfor %}
    </fieldset>
</div>


{% endblock content %}