{% extends 'KRRR/main.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/aa_style.css' %}">
{% endblock extra_head %}

{% block content %}

    {% include 'KRRR/includes/admin_header.html' %}

    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Delete Product</legend>
            <p>Are you sure you want to delete the "{{ product.name }}"?</p>
        </fieldset>
        <div class="form-func">
            <button type="submit" class="warning">Yes, Delete</button>
            <a href="{% url 'admin-product' product.id %}">Cancel</a>
            
        </div>
    </form>

{% endblock content %}